<div class="ui segment chats_area">
  <% unless @chats.blank? %>
    <% @chats.each do |chat| %>
      <% if chat.message.present? %>
        <div class="item-chats">
          <div class="content-chats">
            <div class="user-row-chats">
              <div class="user-icon-chats">
                <% if chat.user == current_user %>
                  <%= link_to pages_show_path, class: "no-underline" do %>
                    <%= image_tag chat.user.profile.icon.url, alt: "#{chat.user.profile.name}のアイコン", class: "profile-icon" %>
                  <% end %>
                  <% else %>
                    <%= link_to profile_path(chat.user.profile) do %>
                    <%= image_tag chat.user.profile.icon.url, alt: "#{chat.user.profile.name}のアイコン", class: "profile-icon" %>
                  <% end %>
                <% end %>
              </div>
              <div class="user-info">
                <div class="header">
                  <strong><%= link_to chat.user.profile.name, profile_path(chat.user.profile) %></strong> <%= chat.message_time %>
                </div>
                <div class="list">
                  <div class="item speech-bubble">
                    <%= chat.message %>
                  </div>
                    <% if chat.user == current_user %>
                      <%= chat.read ? '既読' : '未読' %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>