<div class="ui segment chats_area">
  <% unless @chats.blank? %>
    <% @chats.each do |chat| %>
      <% if chat.message.present? %>
        <div class="item">
          <div class="content">
            <div class="user-row">
              <div class="user-icon">
                <% if chat.user == current_user %>
                  <%= link_to pages_show_path, class: "no-underline" do %>
                    <%= image_tag chat.user.profile.icon.url, alt: "#{chat.user.profile.name}のアイコン", class: "profile-icon" %>
                  <% end %>
                  <% else %>
                    <%= link_to profile_path(chat.user.profile) do %>
                    <%= image_tag chat.user.profile.icon.url, alt: "#{chat.user.profile.name}のアイコン", class: "profile-icon" %>
                  <% end %>
                <% end %>
              </div>
              <div class="user-info">
                <div class="header">
                  <strong><%= link_to chat.user.profile.name, profile_path(chat.user.profile) %></strong> <%= chat.message_time %>
                </div>
                <div class="list">
                  <div class="item">
                    <i class="right triangle icon"></i>
                    <%= chat.message %> /
                    <% if chat.user == current_user %>
                      <%= chat.read ? '既読' : '未読' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= form_with model: @chat, data: { remote: true } do |f| %>
  <%= f.text_field :message, placeholder: "メッセージを入力" %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.submit "送信" %>
<% end %>

<script>
function clearTextField() {
  document.querySelector('form input[type="text"]').value = '';
}
</script>