<div class="container">
  <h1><%= current_user.profile.name %>さんのマイページです</h1>

  <div class="my-icon">
    <%= image_tag @profile.icon.url %>
  </div>

  <div class="button_line004">
    <%= link_to 'AIにニックネームをつけてもらう', chatbots_path(@profile), class: 'btn btn-primary' %>
  </div>

  <div class="image-chatrobot">
    <a href="<%= chatbots_path(@profile) %>">
      <img src="<%= asset_path('chatbot.png') %>" alt="ロボット画像">
    </a>
  </div>

  <table class="table table-bordered">
    <tr>
      <th>名前</th>
      <td><%= @profile.name %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td><%= @profile.sex %></td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><%= @profile.age %>歳</td>
    </tr>
    <tr>
      <th>仕事</th>
      <td><%= @profile.work %></td>
    </tr>
    <tr>
      <th>趣味</th>
      <td><%= @profile.hobby %></td>
    </tr>
    <tr>
      <th>好きなこと</th>
      <td><%= @profile.likes %></td>
    </tr>
    <tr>
      <th>一言</th>
      <td><%= @profile.comment %></td>
    </tr>
    <tfoot>
      <tr>
        <td colspan="2" class="button-cell">
          <%= link_to '編集', edit_profile_path(@profile), class: 'edit-botton' %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
