<div class="container">
  <div class="my-icon-container">
    <div class="profile-title">
      <h1><%= current_user.profile.name %>さんのマイプロフィール</h1>
    </div>
    <div class="my-icon">
      <%= image_tag @profile.icon.url %>
    </div>
    <td colspan="2" class="button-cell">
      <div class="edit-button-container">
        <%= link_to '編集', edit_profile_path(@profile), class: 'edit-button-ellipse' %>
      </div>
    </td>

    <table class="table table-bordered">
      <tr>
      <th>名前</th>
      <td><%= @profile.name %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td><%= @profile.sex %></td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><%= @profile.age %>歳</td>
    </tr>
    <tr>
      <th>仕事</th>
      <td><%= @profile.work %></td>
    </tr>
    <tr>
      <th>趣味</th>
      <td><%= @profile.hobby %></td>
    </tr>
    <tr>
      <th>好きなこと</th>
      <td><%= @profile.likes %></td>
    </tr>
    <tr>
      <th>一言</th>
      <td><%= @profile.comment %></td>
    </tr>
    <tr>
      <th>AIニックネーム</th>
      <td><%=  %></td>
    </tr>
  </table>

    <div class="button_line004">
      <%= link_to '簡単「10秒」AIがあなたのニックネームを自動作成!', chatbots_path, class: 'btn btn-primary' %>
    </div>
    <div class="image-chatrobot">
      <a href="<%= chatbots_path(@profile) %>">
        <img src="<%= asset_path('chatbot.png') %>" alt="ロボット画像">
      </a>
    </div>
  </div>
</div>
